*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
}

.App{
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:hover{
  transform: scale(1.02);
}

.delete:hover, .edit:hover{
  transform: scale(1.06);
}

.main-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 1rem;
  align-items: center;
  width: 100%;  
}

.header > button{
  padding: 10px 0.9rem;
  border: none;
  color: white;
  background-color: rgb(62, 55, 94);
  cursor: pointer;
  max-width: 200px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  line-height: 2rem;
}

.card{
  text-align: left;
  width: 300px;
  min-width: 250px;
  box-shadow: 0 0 5px 2px rgb(188, 188, 188);
  margin: 1.5rem 1.5rem;
  padding: 0.5rem 0.7rem;
  border-radius: 2px;
  background-color: white;
}

.card > p > strong{
  color: gray;
}

.card > h4 {
  border-bottom: solid rgba(197, 197, 197, 0.265);
}

.actions{
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-top: solid rgba(197, 197, 197, 0.265);
}

.edit{
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: rgb(246,246,246);
  border: 1px solid rgb(228, 228, 228);  
  cursor: pointer;
}

.delete{
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: rgb(216,93,93);
  border: 1px solid rgb(182, 97, 97);  
  cursor: pointer;
}

.form-back{
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(165, 165, 165, 0.742);
}

.form{
  z-index: 5;
  position: relative;
  width: 90%;
  max-width: 400px;
  text-align: left;
  background-color: white;
  padding: 1rem 0 2rem 0;
} 

.form > h3{
  margin: 0 1.2rem;
  font-size: 30px;
}

.form > button{
  font-size: 15px;
  top: 10px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
}
.form-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 93%;
}

.form-in > button{
  margin-top: 1rem;
  width: 90%;
  background-color:rgb(85, 90, 136) ;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.input{
  margin: 0.5rem 0;
  width: 90%;
  text-align: left;
}

.input > input{
  background-color: rgb(249, 250,252);
  width: 100%;
  height: 35px;
  border: solid rgb(189,189,189);
  border-radius: 6px;
  padding: 0 0.7rem;
  margin: 0.5rem 0;
}

.delete-back{
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(165, 165, 165, 0.742);
}

.delete-user{
  text-align: left;
  width: 80%;
  max-width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 1.5rem;
}

.delete-user > h2{
  text-align: left;
}

.delete-actions{
  display: flex;
  justify-content: space-between;
}

.delete-actions > button{
  width: 45%;
  background-color:rgb(85, 90, 136) ;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 360px) {
  .header{
    justify-content: space-between;
  }
}
@media screen and (min-width: 560px) {
  .header{
    flex-direction: row;
    padding: 2.5rem 6rem 2.5rem 7rem;
    justify-content: space-between;
  }
}



